.header {
  display: flex;
  width: 100%;
  min-width: 600px;
  height: 90px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 35px;
  padding: 8px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 100px;
}

.input {
  font-size: 24px;
  border: none;
  width: 600px;
  height: 35px;
  padding: 0;
  border: none;
  outline: none;
}
.btn {
  border: none;
  cursor: pointer;
  background-color: #fff;
  display: grid;
  place-items: center;
}
